/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/*@include edit();
*/
/*MIXINS*/
/*VARIABLES*/
input:focus {
  outline: none; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.3); }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.3); }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.3); }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.3); }

body {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin: 0px;
  cursor: default;
  background-color: #efefef;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.4em; }
  body:before, body:after {
    content: '';
    display: table; }
  body:after {
    clear: both; }

h1 {
  text-align: center;
  font-size: 3em; }

h1, header, sidebar {
  font-family: 'Rokkitt', serif;
  font-weight: 400;
  color: white; }

p {
  text-align: center;
  color: white; }

a {
  text-decoration: none; }

content {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding-left: 10px;
  padding-right: 10px;
  /*Change on mobile!*/ }
  content:before, content:after {
    content: '';
    display: table; }
  content:after {
    clear: both; }

header {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background: #000033;
  top: 0px;
  position: fixed;
  padding-bottom: 8px; }
  header:before, header:after {
    content: '';
    display: table; }
  header:after {
    clear: both; }

.logo {
  *zoom: 1;
  width: auto;
  max-width: 320px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px; }
  .logo:before, .logo:after {
    content: '';
    display: table; }
  .logo:after {
    clear: both; }

.logo img {
  width: 100%;
  height: auto;
  /*cursor: pointer;*/ }

menuitem {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  font-size: 1.5em;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: white;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: radial;
  /* Standard syntax */
  transition-duration: 0.2s;
  transition-timing-function: radial; }
  menuitem:before, menuitem:after {
    content: '';
    display: table; }
  menuitem:after {
    clear: both; }

menuitem:hover {
  background-color: rgba(255, 255, 255, 0.2); }

sidebar {
  position: fixed;
  background-color: #000033;
  width: 216px;
  height: 100%;
  right: -216px;
  z-index: 1337;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-duration: 0.6s;
  -webkit-transition-timing-function: radial;
  /* Standard syntax */
  transition-duration: 0.6s;
  transition-timing-function: radial; }

sidebar:hover {
  right: 0px; }

sidebar a {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: center;
  font-size: 2em;
  border-top: none;
  border-bottom: none;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: radial;
  /* Standard syntax */
  transition-duration: 0.2s;
  transition-timing-function: radial; }
  sidebar a:before, sidebar a:after {
    content: '';
    display: table; }
  sidebar a:after {
    clear: both; }

sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.2); }

.separator {
  height: 130px; }

theidea {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background: linear-gradient(#000033, rgba(0, 0, 51, 0.9), rgba(0, 0, 51, 0.85), rgba(0, 0, 51, 0.7), rgba(0, 0, 51, 0.6)), url(img/idea-bg.JPG);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }
  theidea:before, theidea:after {
    content: '';
    display: table; }
  theidea:after {
    clear: both; }

.button {
  display: inline-block;
  border: 2px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
  float: left;
  font-size: 1.5em;
  margin-bottom: 10px;
  vertical-align: middle;
  line-height: normal;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  /* For Safari 3.1 to 6.0 */
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: radial;
  /* Standard syntax */
  transition-duration: 0.2s;
  transition-timing-function: radial; }

.button:hover {
  background-color: rgba(255, 255, 255, 0.2); }

.video {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 35%;
  margin-left: 0%;
  margin-right: 0%;
  margin-right: 10px; }
  .video:before, .video:after {
    content: '';
    display: table; }
  .video:after {
    clear: both; }

.facebook {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 62%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 25px; }
  .facebook:before, .facebook:after {
    content: '';
    display: table; }
  .facebook:after {
    clear: both; }

.subscribe {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 25.6%;
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 10px;
  margin-bottom: 25px; }
  .subscribe:before, .subscribe:after {
    content: '';
    display: table; }
  .subscribe:after {
    clear: both; }

.email {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 72%;
  margin-left: 0%;
  margin-right: 0%;
  margin-right: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.15); }
  .email:before, .email:after {
    content: '';
    display: table; }
  .email:after {
    clear: both; }

.email:focus {
  background-color: rgba(255, 255, 255, 0.3); }

game {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  padding-left: 0;
  padding-right: 0;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #efefef;
  bottom: 0; }
  game:before, game:after {
    content: '';
    display: table; }
  game:after {
    clear: both; }

.normal-hide {
  display: none; }

.mobile-hide {
  display: block; }

/*MOBILE*/
@media screen and (max-width: 768px) {
  sidebar {
    display: block;
    right: -176px; }

  header {
    position: relative; }

  header menuitem {
    display: none; }

  /*content {padding: 0px; margin-right: 50px; margin-left: $def-pad}*/
  header content {
    border-bottom: 2px solid white; }

  .separator {
    height: 0px; }

  .video {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-right: 0px; }
    .video:before, .video:after {
      content: '';
      display: table; }
    .video:after {
      clear: both; }

  .facebook {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%; }
    .facebook:before, .facebook:after {
      content: '';
      display: table; }
    .facebook:after {
      clear: both; }

  .email {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 10px; }
    .email:before, .email:after {
      content: '';
      display: table; }
    .email:after {
      clear: both; }

  .subscribe {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    padding-left: 0;
    padding-right: 0;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 10px; }
    .subscribe:before, .subscribe:after {
      content: '';
      display: table; }
    .subscribe:after {
      clear: both; }

  .normal-hide {
    display: block; }

  .mobile-hide {
    display: none; } }
