/* Default CSS */

body 
{
 margin: 0px;
 background-color: #000033;
 font-family: "Rockwell", Helvetica;
}

a
{
  color: #777; 
}
.dark
{
 width: 100%;
 background-color: #000033;
 overflow: hidden;
}

.light
{
 width: 100%;
 background-color: #eee;
 overflow: hidden;
}

.grid-pattern
{
   background-image:url('../img/grid.png');
   background-repeat:repeat;
   background-position:top center;
   background-size: 50px auto;
}

.container
{
 width: 1000px;
 margin-left: auto;
 margin-right: auto;
}

.logo-container
{
  height: auto;
}

.magination-logo
{
  width: 1000px;
  height: 250px;
  padding-bottom: 10px;
}

.info-container
{
 padding-bottom: 20px;
 padding-top: 20px;
}

.header-text
{
 font-size: 42px;
 margin-left: 20px;
}

.medium-text
{
 font-size: 28px;
 margin-left: 20px;
}

.bread-text
{
 font-size: 20px;
 margin-left: 20px;
}

.small-text
{
 font-size: 15px;
 margin-left: 20px;
}

.light-text
{
 color: #aaa; 
}

.dark-text
{
 color: #e5e5ea; 
}

.magination-design
{
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.youtube-teaser
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-overlay
{
  opacity: 0.8;
  cursor: pointer;
}

.video-overlay:hover
{
  opacity: 1;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 20px;
}

#mc_embed_signup
{
  background: #eee; 
  clear: left; 
  font: 14px "Rockwell",Helvetica,Arial,sans-serif;
  color: #aaa;
  width: 980px;
  margin-left: 20px;
}

.facebook-icon
{

  z-index: 1337;
  width: 150px;
  height: 150px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: url(../img/facebook-icon.png) no-repeat;
  overflow: hidden;
  background-position:0px 0px;
  cursor: pointer;
}

.facebook-icon:hover{background-position:-150px 0px}

.about-us-picture-container
{
  width: 50%;
  position: relative;
  padding-bottom: 28.12%; /* 16:9 */
  height: 0;
  float: left;
}

.about-us-picture
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-us-name-container
{
  width: 100%;
  height: 75px;
  position: relative;

}

.about-us-name
{
  width: 50%;
  position: absolute;
  text-align: center;
  bottom: 0px;
  float: left;
}

.bottom-info
{
  width: 100%;
  margin-top: 10px;
  position: relative;

}



.rectangle
{
 height: 100px;
 font-family: "Rockwell", Helvetica;
 font-size: 20px;
 background-color: #4d4d70;
 color: #fff;
 margin: 0.5%;
 padding: 0.5%;
 float: left;
 position: static;
 border-radius: 4px;
}

.rectangle:hover
{
 background-color: #5a5a7b;
}

.mobile-hide
{
/*HIDES WHEN WIDTH = MOBILE*/
}

.inside-rect
{
 position: static;
 width: 100%;
 height: 100%;
 background-color: #fff;
}

@media screen and (max-width:1000px)
{
  .container
  {
    width: 100%;
  }
  
  .grid-pattern
  {
   background-size: 5% auto;
  }

  .magination-logo
  {
    width: 100%;
    height: auto;
  }

  .header-text .bread-text .medium-text
  {
    margin-left: 2%;
  }
}

@media screen and (max-width:480px)
{
  .mobile-hide
  {
   display:none;
  }
  
  .grid-pattern
  {
   background-size: 24px auto;
  }
  
  .header-text
  {
   font-size: 30px;
  }

  .medium-text
  {
   font-size: 20px;
  }

  .bread-text
  {
   font-size: 15px;
  }

  .small-text
  {
   font-size: 12px;
  }

  .magination-logo
  {
    width: 450px;
  }

  .magination-design
  {
    width: 450px;
  }
}